
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
.container {
    width: 100%;
    max-width: 700px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


form {
    text-align: left;
}

.form-group {
    margin-bottom: 10px;
}

#name{
    display: block;
    width: 280px;
}
#email{
    width:280px;
}

label {
    width: fit-content;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="radio"],
input[type="checkbox"],
textarea,
select {
    /* width: 100%; */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="reset"] {
    background-color: #FF0000;
    margin-left: 10px;
}

button[type="reset"]:hover {
    background-color: #CC0000;
}

.question {
    margin-top: 10px;
}

.question p {
    font-weight: bold;
}

textarea {
    width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}
.question span {
    display: inline-block;
    margin-right: 10px;
}

/* Style for radio buttons inside the span elements */
.question span input[type="radio"] {
    margin-right: 5px;
}

/* Style for labels inside the span elements */
.question span label {
    display: inline;
}
.form-group span {
    display: inline-block;
    margin-right: 10px;
}





